@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  color: #777777;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  /* font-family: 'Open sans', sans-serif; */
  /* font-size: 0.875rem; */
  font-weight: 200;
  line-height: 1.7;
  /* padding: 7rem 2.5rem 2.5rem 2.5rem; */
  /* margin-top: 5rem; */ }

.img-circle {
  margin: 3rem;
  border-radius: 50%; }

.btn:link, btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.5rem 3.5rem;
  text-decoration: none;
  border-radius: 2.5rem;
  transition: all .2s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  position: relative; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .25s; }

.btn:hover::after {
  opacity: 0; }

.btn:active {
  transform: translateY(0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-header-main {
  margin-top: 6rem;
  background-color: white;
  padding: 1.5rem 5rem 1.5rem 5rem !important;
  color: #777; }

.btn-header-main::after {
  background-color: #fff; }

.btn-move-from-bottom {
  animation-name: moveInBottom;
  animation-duration: .4s;
  animation-delay: 1s;
  animation-fill-mode: backwards; }

.btn-card {
  padding: 1rem 1.5rem !important;
  margin: 1rem 2rem;
  background-color: white;
  color: #777;
  min-width: 15rem; }

.menu {
  position: fixed;
  padding: 1rem 1.75rem 1rem 1.75rem;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  right: 2rem;
  top: 2.25rem;
  background: white;
  color: black;
  z-index: 5000; }

@media (min-width: 700px) {
  .menu {
    display: none; } }

.card {
  opacity: 0.85;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
  max-width: 28rem;
  margin: 0 auto; }
  .card-side {
    height: 45rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3); }
    .card-side-front {
      background-color: #f2f2f2; }
    .card-side-back {
      transform: rotateY(180deg);
      color: white; }
      .card-side-back-1 {
        background: #2d68b7; }
      .card-side-back-2 {
        background: #008080; }
      .card-side-back-3 {
        background: #ffc300; }
      .card-side-back-4 {
        background: #c70039; }
  .card-details {
    padding: 2rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-details ul li {
        text-align: center;
        font-size: 1.4rem;
        padding: .2rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 1px solid #cccccc; }
  .card-demo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
    .card-demo-title {
      font-size: 2rem;
      font-weight: 400; }
  .card:hover .card-side-front {
    transform: rotateY(-180deg); }
  .card:hover .card-side-back {
    transform: rotateY(0); }
  .card-image {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    background-position: center;
    position: relative; }
    .card-image-title {
      background: rgba(0, 0, 0, 0.7);
      color: white;
      font-size: 2rem;
      padding: .5rem;
      position: absolute;
      top: 5%;
      width: 95%; }
    .card-image-1 {
      background-image: url(../img/project-cod.jpg); }
    .card-image-2 {
      background-image: url(../img/project-news.jpg); }
    .card-image-3 {
      background-image: url(../img/project-coj.jpg); }
    .card-image-4 {
      background-image: url(../img/project-yrb.jpg); }
    .card-image-5 {
      background-image: url(../img/project-spg.jpg); }
    .card-image-6 {
      background-image: url(../img/project-crud.jpg); }
  @media (max-width: 960px) {
    .card {
      margin-top: 3rem;
      max-width: 50rem;
      height: auto;
      border-radius: 3px;
      background-color: white;
      box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2); }
      .card-image {
        background-size: cover;
        height: 25rem; }
      .card-side {
        height: auto;
        position: relative;
        box-shadow: none;
        border-radius: 0; }
        .card-side-back {
          transform: rotateY(0); }
      .card:hover .card-side-front {
        transform: rotateY(0); }
      .card-demo {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 2rem 2rem 2rem 2rem; }
        .card-demo-title {
          display: none;
          font-size: 2rem;
          font-weight: 400; }
      .card-details {
        padding: 2rem; }
        .card-details ul {
          list-style: none;
          width: 80%;
          margin: 0 auto; }
          .card-details ul li {
            text-align: center;
            font-size: 1.6rem;
            padding: .2rem; }
            .card-details ul li:not(:last-child) {
              border-bottom: 1px solid #cccccc; }
      .card .btn-card {
        padding: 1rem 1.5rem !important;
        margin: 1rem 2rem;
        background-color: white;
        color: #777;
        min-width: 14rem;
        font-size: 1.2rem; } }

#projects .col {
  display: inline-flex;
  min-height: 30rem; }
  @media screen and (min-width: 1300px) {
    #projects .col {
      width: 33% !important; } }
  @media screen and (max-width: 1300px) {
    #projects .col {
      width: 100% !important; } }

.project-cards-container {
  display: block;
  background: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  margin: 5rem auto; }
  @media screen and (max-width: 1300px) {
    .project-cards-container {
      width: 75%;
      max-height: 48rem; } }
  @media screen and (max-width: 600px) {
    .project-cards-container {
      width: 80%;
      max-height: 70rem; } }
  @media screen and (max-width: 425px) {
    .project-cards-container {
      width: 90%;
      max-height: 70rem; } }
  @media screen and (min-width: 1300px) {
    .project-cards-container {
      height: 52rem;
      width: 85%; } }

.project-cards-cover {
  border-radius: 10px 10px 0 0;
  height: 25rem; }
  .project-cards-cover-1 {
    background: url("../img/project-cod.jpg");
    background-size: cover;
    background-position: center; }
  .project-cards-cover-2 {
    background: url("../img/project-news.jpg");
    background-size: cover;
    background-position: center; }
  .project-cards-cover-3 {
    background: url("../img/project-coj.jpg");
    background-size: cover;
    background-position: center; }
  .project-cards-cover-4 {
    background: url("../img/project-yrb.jpg");
    background-size: cover;
    background-position: center; }
  .project-cards-cover-5 {
    background: url("../img/project-spg.jpg");
    background-size: cover;
    background-position: center; }
  .project-cards-cover-6 {
    background: url("../img/project-crud.jpg");
    background-size: cover;
    background-position: center; }

.project-cards-body {
  width: 80%;
  margin: .2rem auto; }
  .project-cards-body-title h1, .project-cards-body h2, .project-cards-body h3, .project-cards-body h4, .project-cards-body h5 {
    font-weight: 100;
    color: #333; }
  .project-cards-body-description {
    color: #222;
    word-break: break-all; }
  .project-cards-body-tags ul {
    display: inline-block;
    list-style: none;
    padding-left: 0; }
  .project-cards-body-tags li {
    margin-right: .2rem;
    display: inline-block;
    border: 0.1rem solid #888;
    border-radius: 3px;
    font-size: .75rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap; }
  .project-cards-body-links {
    align-items: center;
    text-align: right;
    color: #555; }
    .project-cards-body-links a {
      text-align: center; }
    .project-cards-body-links-github {
      background-color: #555;
      color: #f3f3f3;
      min-width: 10rem; }
    .project-cards-body-links-github:hover {
      color: #fff; }
    .project-cards-body-links-demo {
      background-color: #1b8234;
      color: #f2f2f2;
      min-width: 10rem; }
      .project-cards-body-links-demo:hover {
        color: #fff; }
    .project-cards-body-links-app {
      background-color: #3b5998;
      color: #f1f1f1;
      min-width: 12rem; }
      .project-cards-body-links-app:hover {
        color: #fff; }

.project-cards-btn {
  padding: .5rem .4rem !important;
  margin: 1rem .5rem 2rem .5rem;
  font-size: 1.2rem; }

.spinner {
  width: 10rem;
  height: 10rem;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear; }

.dot1, .dot2 {
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #8ebcbd;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.dot2 {
  top: auto;
  background-color: #ffd328;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 15000; }
  .loader-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .loader-title {
    font-family: "Varela Round";
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    margin-top: 6rem;
    letter-spacing: .25rem; }
  .loader-logo {
    opacity: .9;
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    width: 7.5rem;
    border-radius: 500rem; }

#footer {
  height: 8rem;
  background-color: #333333;
  color: #eeeeee; }

.footer {
  position: relative; }
  .footer-copyright {
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%); }

@media (min-width: 600px) {
  .footer-column.column {
    margin-top: 3rem !important;
    margin-left: 0 !important; } }

@media (min-width: 960px) {
  .footer-column.column {
    width: 50%;
    margin: 0 auto; } }

.header {
  height: 100vh;
  background-image: url(../img/bg-home.jpg);
  background-color: rgba(0, 0, 0, 0.85);
  background-position: center;
  background-size: cover;
  position: relative; }
  .header-overlay {
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4); }
  .header-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 600px) {
      .header-box .btn {
        padding: 1.2rem 4rem 1.2rem 4rem !important; } }
  .header-primary {
    text-transform: uppercase;
    color: white;
    backface-visibility: hidden; }
    .header-primary-main {
      display: block;
      font-size: 6rem;
      letter-spacing: 0.8rem;
      text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3) !important; }
      .header-primary-main-animation {
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: backwards; }
    .header-primary-sub {
      display: block;
      font-size: 2rem;
      letter-spacing: 0.5rem;
      text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3) !important; }
      .header-primary-sub-animation {
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: backwards; }
    .header-primary-slogan {
      font-size: 3rem;
      letter-spacing: .5rem;
      text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3) !important;
      font-family: "Varela Round"; }
    @media (max-width: 1200px) {
      .header-primary-main {
        font-size: 4rem;
        letter-spacing: 0.5rem; }
      .header-primary-sub {
        font-size: 1.5rem;
        letter-spacing: 0.5rem; }
      .header-primary-slogan {
        font-size: 2rem;
        letter-spacing: .5rem; } }
    @media (max-width: 600px) {
      .header-primary-main {
        font-size: 3rem;
        letter-spacing: 0.3rem; }
      .header-primary-sub {
        margin-top: 2rem;
        font-size: 1.6rem;
        letter-spacing: 0.1rem; }
      .header-primary-slogan {
        display: none; }
      .header-primary-hr {
        display: none; } }

.logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem; }

.logo {
  height: 4rem; }

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  z-index: -100;
  /* Sit on top */
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out; }
  .overlay-show {
    z-index: 9000;
    opacity: 1;
    visibility: visible; }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
  visibility: inherit;
  z-index: inherit; }

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */ }

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 7.5rem;
  width: 100%;
  color: #fff;
  line-height: 7.5rem;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .navbar-logo {
    opacity: .9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4.5rem;
    transition: all .5s; }
  .navbar-icon {
    margin-left: 5rem;
    position: relative;
    height: 7.5rem;
    transition: all .5s; }
  .navbar-logo-sm {
    opacity: .9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.5rem; }
  .navbar-icon-sm {
    margin-left: 5rem;
    position: relative;
    height: 4rem; }
  .navbar-list {
    list-style: none;
    color: #cccccc; }
  .navbar-small {
    height: 4rem !important;
    line-height: 4rem !important;
    background: rgba(0, 0, 0, 0.85); }
  .navbar-list li {
    list-style: none;
    display: inline-block;
    padding-right: 4rem; }
    .navbar-list li.active {
      color: #ffffff; }

@media (max-width: 700px) {
  .navbar {
    display: none; } }

.container {
  text-align: center;
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important; }

@media (min-width: 600px) {
  .project-card.column {
    margin-top: 3rem !important;
    margin-left: 0 !important; } }

@media (min-width: 960px) {
  .project-card.column {
    width: 33.33333333%;
    margin: 0 auto; } }

#about {
  margin: 0;
  min-height: 98.5vh;
  padding: 10rem;
  background-color: #f2f2f2;
  position: relative; }

.about-profile {
  text-align: center; }

.about-title {
  text-align: center;
  color: #333333;
  margin: 0, 0, 2.5rem, 0;
  font-size: 3rem; }

.about-card {
  box-shadow: 0.6rem 0.8rem 5rem 0 rgba(0, 0, 0, 0.2);
  max-width: 40rem;
  min-width: 25rem;
  margin: auto;
  text-align: center; }
  .about-card p {
    margin: 0 auto;
    font-size: 1.4rem;
    color: #666666; }
  .about-card-name {
    color: #555555;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0; }
  .about-card-school {
    color: #888888;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.5rem; }
  .about-card-link {
    font-size: 2.4rem;
    padding-bottom: 1.8rem; }

.about-skills {
  /* box-shadow: 0 .4rem 1rem 0 rgba(0, 0, 0, 0.2); */
  margin: 2rem auto;
  padding: 1rem 5rem;
  font-size: 1.7rem;
  font-weight: 100;
  text-align: left;
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .about-skills-heading {
    font-size: 4rem;
    color: #555; }
  .about-skills li {
    list-style-position: outside;
    list-style-type: square;
    margin-left: 1em;
    color: #333; }

.about-programming-icon {
  margin: 3rem; }

.about-icon {
  margin-left: 1rem;
  margin-right: 1rem; }

.about-icon-linkedin {
  color: #004e92; }

.about-icon-mail {
  color: #ba2525; }
  .about-icon-mail:hover {
    color: #e76666; }

.about-icon-resume {
  color: #a91e1e; }
  .about-icon-resume:hover {
    color: #e13232; }

.about-info {
  display: inline; }
  @media (max-width: 600px) {
    .about-info {
      display: block;
      text-align: right; } }

@media (max-width: 960px) {
  #about {
    padding: 1.2rem; }
  .about-card {
    box-shadow: 0.6rem 0.8rem 5rem 0 rgba(0, 0, 0, 0.2);
    max-width: 40rem;
    margin: 2rem auto;
    text-align: center; }
  .about-skills {
    padding: 1rem 1rem; }
  .about-column-1 {
    width: 100% !important;
    margin-left: 0 !important; }
  .about-column-2 {
    width: 100% !important;
    padding: 0 10rem;
    margin-left: 0 !important; } }
  @media (max-width: 960px) and (max-width: 600px) {
    .about-column-2 {
      padding: 0 1.6rem; } }

#projects {
  margin: 0;
  padding: 5rem;
  background-color: #444;
  background-image: url(../img/bg-project.jpg);
  background-attachment: fixed;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden; }
  @media (max-width: 960px) {
    #projects {
      padding: .75rem; } }
  @media (max-width: 600px) {
    #projects {
      background: none;
      background-color: #dddddd; } }

#projects:after {
  content: "";
  position: fixed;
  /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh;
  /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1;
  /* needed to keep in the background */
  background: url(../img/bg-project.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.project-title {
  text-align: center;
  color: white;
  margin: 0, 0, 2.5rem, 0;
  font-size: 4rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3) !important; }
  @media (max-width: 600px) {
    .project-title {
      text-shadow: none !important;
      color: #555; } }
