.container {
    text-align: center;
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

// .column {
//     -webkit-animation-duration: 1.0s;
//     -webkit-animation-delay: 0.2s;
//     -moz-animation-duration: 1.0s;
//     -moz-animation-delay: 0.2s;
//     animation-duration: 1.0s;
//     animation-delay: 0.2s;
// }
