<section id="about">
  <div class="container abount-content">
      <div class="row">
          <div class="one-third column animated tada about-column-1">
                  <div class="about-card">
                          <img class="img-circle" src="../../img/profile.png" style="width:60%">
                          <h4 class="about-card-name">Yenhsuan (Terry), Chen </h4>
                          <h4 class="about-card-school">Software Engineer</h4>
                          
                          <p><i class="fa fa-location-arrow" aria-hidden="true"></i>San Francisco, CA</p><br />
                          <div class="about-card-link">
                              <a class="about-icon" href="https://github.com/yenhsuan" target="_blank"><i class="fab fa-github"></i></a> 
                              <a class="about-icon" href="mailto:yenhsuac@usc.edu" target="_blank"><i class="fa fa-envelope gmail"></i></a> 
                              <a class="about-icon" href="https://www.linkedin.com/in/yenhsuan/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                          </div>
                  </div>
          </div>
          <div class="two-thirds column about-column-2">
              <div class="about-skills">
                      <div class="about-skills-heading"><div class="greet">Hello,</div>I'm Yen-Hsuan (Terry)!<br>And I am a <div class="greet greet-normal">FullStack Software Engineer</div> </div>
                          <ul>
                          <li>M.S. in Computer Science from USC Viterbi</li>
                          <li>Focus on <b>M.E.A(R).N.</b> stack web application development</li>
                          <li>Experienced with <b>Ruby on Rails/Django</b> full stack development</li>
                          <li>Strong in algorithm and data structure</li>
                          <li>Love coding challenge & enjoy making side projects</li>
                          </ul>

                          Please take a look of my resume and checkout my project demos.<br />
                          Feel free to contact me at Linkedin or by Email.<br />
                      </div>
                      <a class="about-info about-icon about-icon-linkedin" href="https://www.linkedin.com/in/yenhsuan/" target="_blank"><i class="fab fa-linkedin-in"></i> yenhsuan</a>
                      <a class="about-info about-icon about-icon-mail" href="mailto:yenhsuac@usc.edu" target="_blank"><i class="fa fa-envelope gmail"></i> yenhsuac@usc.edu</a>
                      <a class="about-info about-icon about-icon-resume" href="../resources/Yenhsuan_Chen_Resume.pdf" target="_blank"><i class="fas fa-file-pdf"></i> Resume</a>
                      
              <div class="about-programming-icon">
                  <img srcset="../../img/React.js_logo-512.png 512w" sizes="5vw"
                  src="../../img/React.js_logo-512.png">
                  <img srcset="img/angular-512.png 512w"
                  sizes="5vw"
                  src="../../img/angular-512.png">
                  <img srcset="img/nodejs-512.png 512w"
                  sizes="5vw"
                  src="../../img/nodejs-512.png">
                  <img srcset="../../img/mongodb.png 512w"
                  sizes="5vw"
                  src="../../img/mongodb.png">
                  <img srcset="img/java_logo.png 512w"
                  sizes="5vw"
                  src="../../img/java_logo.png">                              
                  <img srcset="../../img/python.png 512w"
                  sizes="5vw"
                  src="../../img/python.png">     
          </div>
      </div>
  </div>
</section>