<section id="about">
  <div class="container abount-content">
      <div class="row">
          <div class="one-third column animated tada about-column-1">
                  <div class="about-card">
                          <img class="img-circle" src="../../img/profile.png" style="width:60%">
                          <h4 class="about-card-name">Terry, Chen </h4>
                          <h4 class="about-card-school">Software Engineer @ ForUsAll</h4>
                          
                          <p><i class="fa fa-location-arrow" aria-hidden="true"></i> San Francisco, CA</p><br />
                          
                  </div>
          </div>
          <div class="two-thirds column about-column-2">
              <div class="about-skills">
                    <div class="about-skills-heading"><div class="greet">Hello,<br class="md"></div>I'm Yen-Hsuan (Terry)!<br>I am a<div class="greet greet-normal">FullStack <font class="swe">Software Engineer</font></div> </div>
                    <ul>
                    <li>M.S. in Computer Science from USC Viterbi</li>
                    <li>Focus on <b>React.js/Node.js/Express.js/MongoDB</b> web application development</li>
                    <li>Experienced with <b>Ruby on Rails/Django</b> full stack development</li>
                    <li>Strong in algorithm and data structure</li>
                    <li>Love coding challenge & enjoy making side projects</li>
                    </ul>

                    Please take a look of my resume and checkout my project demos.<br />
                    Feel free to contact me at Linkedin or by Email.<br />
              </div>
                <div class="about-footer">
                    <div>
                        <a class="circle-icon-btn circle-icon-btn-linkedin" href="https://www.linkedin.com/in/yenhsuan/" target="_blank"><i class="fab fa-linkedin-in "></i></a>
                    </div>
                    <div>
                        <a class="circle-icon-btn circle-icon-btn-mail" href="mailto:yenhsuac@usc.edu" target="_blank"><i class="fa fa-envelope gmail"></i></a>
                    </div>
                    <div>
                        <a class="circle-icon-btn circle-icon-btn-resume" href="../resources/Yenhsuan_Chen_Resume.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a>
                    </div>
                    <div>
                        <a class="circle-icon-btn circle-icon-btn-github" href="https://github.com/yenhsuan" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
          </div>
      </div>
  </div>
  <div class="timeline-container">
    <div class="timeline">
        <div class="current">
            <div class="timeline-date">Aug, 2018 - Present</div>
            <div class="timeline-title">
                Software Engineer @ ForUsAll
            </div>
            <div class="timeline-content">
                Focus on Fullstack development - Ruby on Rails, React.js, Redux, SASS, and Webpack.
            </div>
        </div>
        <div class="usc">
            <div class="timeline-date">Aug, 2016 - May, 2018</div>
            <div class="timeline-title">
                M.S. in Computer Science @ USC
            </div>
            <div class="timeline-content">
                Graduated with GPA 3.7
            </div>
        </div>
        <div class="intern">
            <div class="timeline-date">Jun, 2017 - Aug, 2017</div>
            <div class="timeline-title">
                Software Engineer Intern @ Jibao
            </div>
            <div class="timeline-content">
                Developed web applications using React.js, anjular.js, Node.js, Socket.io, Keystone.js
            </div>
        </div>
    </div>
  </div>
</section>
