<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="map[]" />
  <meta name="description" content="Yenhsuan&#39;s Personal Website | Graduate Student in CS@USC | Fullstack Developer">
  <link rel="shortcut icon" type="image/x-icon" href="https://yenhsuan.github.io/img/favicon.ico">

  <meta name="description" content="Yenhsuan&#39;s Personal Website | Graduate Student in CS@USC | Fullstack Developer">
  <meta itemprop="name" content="Yenhsuan Chen (Terry)">
  <meta itemprop="image" content="https://yenhsuan.github.io/img/screenshot.png">
  <meta itemprop="description" content="Yenhsuan&#39;s Personal Website | Graduate Student in CS@USC | Fullstack Developer">

  <meta property="og:title" content="Yenhsuan Chen (Terry)" >
  <meta property="og:url" content="https://yenhsuan.github.io/">
  <meta property="og:image" content="https://yenhsuan.github.io/img/screenshot.png">
  <meta property="og:description" content="Yenhsuan&#39;s Personal Website | Graduate Student in CS@USC | Fullstack Developer" >        
  <title>YenHsuan Chen | Personal WebPage</title>
</head>