<header id="home" class="header">
  <div class="header-overlay"></div>
  <div class="header-box">
      <h1 class="header-primary">
          <span class="header-primary-main">Yen-Hsuan Chen</span>
          <span class="header-primary-sub">Frontend | Fullstack Engineer</span>
          <hr class="header-primary-hr">
          <div class="header-primary-slogan">i code therefore i am</div>
          
      </h1>

      <a href="#about" class="btn btn-header-main"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
  </div>
</header>