<section id ="projects">
  <div class="row">
      <div class="project-title">
          Projects
      </div>
  </div>
  <div class="bg-fix"></div>
  
  <div class="col" data-aos='fade-up-alt'>
      <div id="project-ancor" class="project-cards-container">
          <div class="project-cards-cover project-cards-cover-7"></div>
          <div class="project-cards-body">
              <div class="project-cards-body-title">
                  <h3>CodePad</h3>
              </div>
              <div class="project-cards-body-description">
                  
              </div>
              <div class="project-cards-body-tags">
                  <ul>
                  <li>React.js</li>
                  <li>React-MobX</li>
                  <li>JSS</li>
                  <li>Webpack</li>
                  <li>Node.js</li>
                  <li>Express.js</li>
                  <li>Socket.io</li>
                  <li>Redis</li>
                  <li>Flask</li>
                  <li>Docker</li>
                  </ul>
              </div>
              <div class="project-cards-body-links">
                  <a href="https://github.com/yenhsuan/CodePad" target="_blank" class="btn project-cards-btn project-cards-body-links-github"><i class="fab fa-github" aria-hidden="true"></i> Github</a>
                  <a href="http://codepad.yenhsuan.xyz" target="_blank" class="btn project-cards-btn project-cards-body-links-demo"><i class="fa fa-globe" aria-hidden="true"></i> Demo</a>
              </div>
          </div>
      </div>
  </div>
  <div class="col" data-aos='fade-up-alt'>
      <div id="project-ancor" class="project-cards-container">
          <div class="project-cards-cover project-cards-cover-1"></div>
          <div class="project-cards-body">
              <div class="project-cards-body-title">
                  <h3>Collaborative Docs</h3>
              </div>
              <div class="project-cards-body-description">
                  
              </div>
              <div class="project-cards-body-tags">
                  <ul>
                  <li>Angular</li>
                  <li>Node.js</li>
                  <li>Express.js</li>
                  <li>Socket.io</li>
                  <li>Quill.js</li>
                  <li>MongoDb</li>
                  <li>Bootstrap</li>
                  </ul>
              </div>
              <div class="project-cards-body-links">
                  <a href="https://github.com/yenhsuan/Docs-Collaboration" target="_blank" class="btn project-cards-btn project-cards-body-links-github"><i class="fab fa-github" aria-hidden="true"></i> Github</a>
                  <a href="http://yenhsuan.xyz:5566" target="_blank" class="btn project-cards-btn project-cards-body-links-demo"><i class="fa fa-globe" aria-hidden="true"></i> Demo</a>
              </div>
          </div>
      </div>
  </div>
  <div class="col" data-aos='fade-up-alt'>
      <div class="project-cards-container">
              <div class="project-cards-cover project-cards-cover-2"></div>
              <div class="project-cards-body">
                  <div class="project-cards-body-title">
                      <h3>Tweets Search</h3>
                  </div>
                  <div class="project-cards-body-description">
                      
                  </div>
                  <div class="project-cards-body-tags">
                      <ul>
                      <li>React.js</li>
                      <li>Node.js</li>
                      <li>Express.js</li>
                      <li>SASS</li>
                      <li>Webpack</li>
                      </ul>
                  </div>
                  <div class="project-cards-body-links">
                      <a href="https://github.com/yenhsuan/TweetSearch" target="_blank" class="btn project-cards-btn project-cards-body-links-github"><i class="fab fa-github" aria-hidden="true"></i> Github</a>
                      <a href="http://tweet.yenhsuan.xyz" target="_blank" class="btn project-cards-btn project-cards-body-links-demo"><i class="fa fa-globe" aria-hidden="true"></i> Demo</a>
                  </div>
              </div>
      </div>
  </div>
  <div class="col" data-aos='fade-up-alt'>
      <div class="project-cards-container">
              <div class="project-cards-cover project-cards-cover-3"></div>
              <div class="project-cards-body">
                  <div class="project-cards-body-title">
                      <h3>SNAKE!</h3>
                  </div>
                  <div class="project-cards-body-description">
                      
                  </div>
                  <div class="project-cards-body-tags">
                      <ul>
                      <li>Canvas</li>
                      <li>JavaScript ES6</li>
                      <li>from scrach</li>
                      </ul>
                  </div>
                  <div class="project-cards-body-links">
                      <a href="/snake/snake.html" target="_blank" class="btn project-cards-btn project-cards-body-links-demo"><i class="fa fa-globe" aria-hidden="true"></i> Demo</a>
                  </div>
              </div>
      </div>
  </div>
  <div class="col" data-aos='fade-up-alt'>
      <div class="project-cards-container">
              <div class="project-cards-cover project-cards-cover-4"></div>
              <div class="project-cards-body">
                  <div class="project-cards-body-title">
                      <h3>Youtube Repeter</h3>
                  </div>
                  <div class="project-cards-body-description">
                      
                  </div>
                  <div class="project-cards-body-tags">
                      <ul>
                      <li>JavaScript ES6</li>
                      <li>CSS3</li>
                      <li>HTML 5</li>
                      <li>Chrome Extension</li>
                      </ul>
                  </div>
                  <div class="project-cards-body-links">
                      <a href="https://chrome.google.com/webstore/detail/youtube-repeat-button/aihdpnkmhcbjkfonmmfepcjjfaenobip" target="_blank" class="btn project-cards-btn project-cards-body-links-app"><i class="fab fa-chrome" aria-hidden="true"></i> App Store</a>
                  </div>
              </div>
      </div>
  </div>
  <div class="col" data-aos='fade-up-alt'>
      <div class="project-cards-container">
              <div class="project-cards-cover project-cards-cover-5"></div>
              <div class="project-cards-body">
                  <div class="project-cards-body-title">
                      <h3>Chrome Start Page</h3>
                  </div>
                  <div class="project-cards-body-description">
                      
                  </div>
                  <div class="project-cards-body-tags">
                      <ul>
                      <li>Angular</li>
                      <li>Semantic UI</li>
                      <li>Chrome API</li>
                      <li>Chrome Extension</li>
                      </ul>
                  </div>
                  <div class="project-cards-body-links">
                      <a href="https://chrome.google.com/webstore/detail/chrome-start-page/cacnefkpccebkfppmhjohfabiejkdpjk" target="_blank" class="btn project-cards-btn project-cards-body-links-app"><i class="fab fa-chrome" aria-hidden="true"></i> App Store</a>
                  </div>
              </div>
      </div>
  </div>
  <div class="col" data-aos='fade-up-alt'>
      <div class="project-cards-container">
              <div class="project-cards-cover project-cards-cover-6"></div>
              <div class="project-cards-body">
                  <div class="project-cards-body-title">
                      <h3>Student Record CRUD</h3>
                  </div>
                  <div class="project-cards-body-description">
                      
                  </div>
                  <div class="project-cards-body-tags">
                      <ul>
                      <li>Angular</li>
                      <li>Node.js</li>
                      <li>Express.js</li>
                      <li>PostgreSQL</li>
                      <li>Semantic UI</li>
                      </ul>
                  </div>
                  <div class="project-cards-body-links">
                      <a href="https://github.com/yenhsuan/Student-Record-CRUD-System" target="_blank" class="btn project-cards-btn project-cards-body-links-github"><i class="fab fa-github" aria-hidden="true"></i> Github</a>
                      <a href="http://yenhsuan.xyz:3030" class="btn project-cards-btn project-cards-body-links-demo"><i class="fa fa-globe" aria-hidden="true"></i> Demo</a>
                  </div>
              </div>
      </div> 
  </div>

</section>